.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    overflow: scroll;
    width: 619px;
    height: 450px;

    display: flex;

    background-color: white;
  }

  &__info {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;

    margin: 30px 14px 32px 30px;
  }

  &__photo {
    width: 331px;
    height: 205px;

    margin-bottom: 29px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 20px;
  }

  &__input {
    width: 332px;
    height: 30px;
    padding-left: 11px;

    border: 1px solid #cccccc;
    border-radius: 3px;

    transition: 300ms;
    outline-color: transparent;

    &:focus {
      transition: 300ms;
      outline-color: #4997d0;
    }
  }

  &__button {
    width: 332px;
    height: 30px;

    background-color: #4997d0;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;

    cursor: pointer;
    transition: background-color 300ms;

    &:hover {
      background-color: #3378a8;
    }
  }

  &__comments {
    max-width: 184px;

    margin-top: 30px;
    font-size: 13px;
  }

  &__comment {
    margin-bottom: 20px
  }

  &__name {
    margin-bottom: 5px;
    color: #999999;
  }

  &__close {
    position: sticky;
    top: 21px;
    margin-left: 135px;
    width: 25px;
    height: 25px;

    background-color: white;
    border: none;
    outline: none;

    cursor: pointer;
  }

  &__line-right,
  &__line-left {
    width: 25px;
    height: 1px;
    background-color: black;
  }

  &__line-right {
    transform: rotate(45deg);
  }

  &__line-left {
    transform: rotate(-45deg);
  }

  &__error {
    margin: 0;
    padding: 0;

    color: red;
    font-size: 10px;
  }
}

@media (max-width: 740px) {
  .modal {
    &__container {
      position: relative;
      width: 320px;
      height: 100vh;

      display: flex;
      flex-direction: column;
    }

    &__info {
      position: absolute;
      top: 0;
      margin: 0;
    }

    &__photo {
      width: 320px;
    }

    &__form {
      display: flex;
      align-items: center;
    }

    &__input {
      width: 276px;
    }

    &__button {
      width: 276px;
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 20px;
      background-color: transparent;
    }

    &__comments {
      position: absolute;
      margin-left: 30px;
      top: 370px;
    }
  }
}